{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Moussaka{% endblock %}

{% block body %}
    {% if app.user %}   
        <div class="md-3">
            {{ render(controller('App\\Artists\\Infrastructure\\Symfony\\Controller\\SongController::index')) }}
        </div>
        <div class="md-3">
            {{ render(controller('App\\Artists\\Infrastructure\\Symfony\\Controller\\AlbumController::index')) }}
        </div>
        <div class="md-3">
            {{ render(controller('App\\Artists\\Infrastructure\\Symfony\\Controller\\PlaylistController::index')) }}
        </div>
    {% endif %}
{% endblock %}