<form method="post" action="{{ path('app_playlist_delete', {'id': playlist.id}) }}" onsubmit="return confirm('Vous etes surs de vouloir supprimer cette playlist?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ playlist.id) }}">
    <button class="btn">Supprimer</button>
</form>