{% extends 'base.html.twig' %}

{% block title %}Nouveau album{% endblock %}

{% block body %}
    <h1>Créer un nouveau album</h1>

    {{ include('album/_form.html.twig') }}

    <a href="{{ path('app_homepage') }}">Retour au site</a>
{% endblock %}